*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;

    @include respond(xl) {

    }

    @include respond(xxl) {
        // font-size: 80%;
        font-size: 75%;
    }
}

* {
    outline-width: 2px;
}

body {
    font-size: 1.6rem;
}
