.products-page {
    display: flex;
    @include container;
    margin: 0 auto;
    flex-direction: column;

    @include respond(sm) {
        flex-direction: row;
    }

    main {
        flex-grow: 1;
        flex-basis: 75%;
    }

    .products-listing {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // gap: 2rem;

        .product-card {
            flex: 0 1 100%;
            // padding-right: 2rem;
            margin-top: 2rem;

            @include respond(sm) {
                flex: 0 1 50%;
            }

            @include respond(lg) {
                flex: 0 1 25%;
            }
        }
    }
}

.categories-nav {
    display: none;

    @include respond(sm) {
        background-color: $color-gray-light-1;
        flex-basis: 25%;
        display: block;

        &__list {
            list-style: none;
        }

        &__item {
            display: block;
            font-size: 1.4rem;
            color: $color-gray-dark-1;
            padding: 1rem 0 1rem 1rem;
            border-bottom: 1px solid $color-gray-light-2;

            a {
                color: inherit;
                text-decoration: none;
                width: 100%;
                display: block;
                height: 100%;
            }

            &[data-active-link=true] {
                background-color: $color-primary;
                color: white;
                margin: 0;
            }

            &:hover {
                background-color: darken($color-primary, 5);
                color: white;
                cursor: pointer;
            }
        }
    }
}

.categories-mobile-nav {
    display: block;
    width: 100%;
    margin-top: 1rem;

    &__select {
        width: 100%;
        background-color: $color-primary;
        padding: 1rem;
        border: none;
        color: white;
    }

    &__option {
        background-color: $color-gray-light-1;
        color: $color-primary;
        padding: 1rem;
        height: 1rem;
        display: block;
    }
    @include respond(sm) {
        display: none;
    }
}