.floating-input {
    position: relative;
    margin-top: 1rem;

    &__input {
        border: none;
        border-bottom: 1px solid #9e958e;
        padding: 0 0 .75rem 0;
        font-size: 1.2rem;
        width: 100%;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color-info;
        }

        &:focus:invalid {
            border-color: $color-danger;
        }
    }

    &__input:not(&__input:placeholder-shown)+&__label,
    &__input:focus+&__label {
        outline: none;
        transform: translateY(-1.75rem);
    }

    &__input:focus+&__label {
        color: $color-info;
    }

    &__input::placeholder {
        opacity: 0;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0);
        transition: all .2s linear;
        color: #9e958e;
        font-size: 1.2rem;
        font-weight: 500;
    }
}