.toast-container {
    position: fixed;
    top: 2rem;
    // left: 50%;
    // transform: translate(-50%, 0);
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;

    &.leave {
        animation: leaveToTop .2s linear;
    }
}

.toast {
    min-width: 20rem;
    border-radius: .5rem;
    padding: 2rem;
    min-width: 20rem;
    animation: moveInTop .2s linear;

    &--success {
        background-color: $color-success;
        color: black;
    }
}

@keyframes moveInTop {
    0% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leaveToTop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5rem);
    }
}